@import "../../styles/settings/index";
@import "../../styles/tools/index";

.about-component{
  >.__container {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    >.__image {
      width: 30%;
      margin-right: 40px;
      border-radius: 10px;
      overflow: hidden;

      @include media-breakpoint-down($breakpoint-md) {
        display: none;
      }
    }

    >.__info {
      flex: 1;

      >.__foundations{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 -20px;

        >.__skill {
          width: 50%;
          padding: 10px 20px;

          @include media-breakpoint-down($breakpoint-sm) {
            width: 100%;
          }

          p { margin: 0; }
        }
      }
    }
  }
}
