
.theme-color {
  color: $ColorBlueChill;
}

.title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, $ColorBlueChill, transparent);
    opacity: 1;
  }
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
}

.__website-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;

  &.-xs {
    max-width: 700px;
    text-align: center;
  }

  &.-lg {
    max-width: none;
  }

  @include sides-padding();
}
