@import "../../styles/settings/index";

.contacts-component{
  background: $c-gray-80;
  font-size: 16px;

  >.__contacts {
    >.__container {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;

      >.__text {
        color: $c-white;

        &.-title {
          width: 100%;

          &::after {
            display: none;
          }
        }

        >p {
          margin: 0;
        }
      }
    }
  }

  >.__signature {
    background: $c-gray-100;
    color: $c-gray-40;

    >.__container {
      display: flex;
      flex-flow: row;
      padding-top: 10px;
      padding-bottom: 10px;
  
      >.__author {
        width: 100%;
      }
  
      >.__social {
        flex: 1;
        white-space: nowrap;
  
        >.__link +.__link {
          margin-left: 20px;
        }
      }

      a {
        transition: color .2s;

        &:hover {
          color: $c-white;
          transition: color .2s;
        }
      }
    }
  }
}
