@import "../../styles/settings/index";

.contacts-component{
  background: $c-gray-80;
  font-size: 16px;

  a {
    transition: color .2s;

    &:hover {
      color: $c-white;
      transition: color .2s;
    }
  }

  >.__contacts {
    >.__container {
      display: flex;
      flex-flow: row;

      >.__section {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 50%;

        +.__section {
          text-align: right;
          justify-content: end;
        }

        >.__text {
          width: 50%;
          color: $c-gray-10;
  
          &.-title {
            width: 100%;
            color: $c-white;
            font-size: 22px;
            line-height: 17px;
  
            &::after {
              display: none;
            }
          }
  
          >p {
            margin: 0;
          }
        }
      }
    }
  }

  >.__signature {
    background: $c-gray-100;
    color: $c-gray-40;

    >.__container {
      display: flex;
      flex-flow: row;
      padding-top: 10px;
      padding-bottom: 10px;
  
      >.__author {
        width: 100%;
      }
  
      >.__social {
        flex: 1;
        white-space: nowrap;
        display: none;
  
        >.__link +.__link {
          margin-left: 20px;
        }
      }
    }
  }
}
