
$ColorLinkWater: #EDF1FA;
$ColorYukonGold: #7a6c09;
$ColorBlueChill: #0B78A0;
$ColorAtoll: #095C7A;

$c-gray-100: #2b3540;
$c-gray-90: #404952;
$c-gray-80: #555d65;
$c-gray-70: #6b7178;
$c-gray-60: #7f858b;
$c-gray-50: #959a9f;
$c-gray-40: #aaaeb2;
$c-gray-30: #bfc2c5;
$c-gray-20: #d4d6d8;
$c-gray-10: #eaebec;
$c-gray-5: #f4f4f5;
$c-gray-3: #f8f8f8;

$c-black: #000000;
$c-white: #ffffff;
