
@mixin sides-padding($padding: 40px) {
  &.-offset-tops {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  &.-offset-sides {
    padding-left: $padding;
    padding-right: $padding;
  }
}
