@import "../../../styles/settings/index";

.quote-component {
  padding: 20px 0;
  >.__background {
    background-color: $c-gray-80;
    color: $c-white;

    >.__container {
      text-align: center;

      >.__quote {
        font-style: italic;
        font-weight: 700;
        
        >p {
          margin: 0;
        }
      }

      >.__author {
        font-size: 18px;
        padding-top: 10px;
      }
    }
  }
}
