@import "../../styles/settings/index";

.skills-component {

  display: flex;
  flex-flow: row;

  >.__info {
    width: 60%;

    .__skills {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin: 0 -5px;

      >.__technology {
        margin: 0 5px;
      }
    }

  }

  >.__canvas {
    flex: 1;
    margin-left: 40px;
  }

}
