@import "../../styles/settings/index";

.skills-component {
  display: flex;
  flex-flow: column;

  >.__chart-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    >.__canvas {
      width: 100%;
      max-width: 400px;
      padding: 20px;

      >.__sub-title {
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }

  >.__description {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
  }

}
