@import "../../styles/settings/index";
@import "../../styles/tools/index";

.skills-component {
  >.__container {
    display: flex;
    flex-flow: column;

    >.__chart-list {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;

      >.__canvas {
        width: 100%;
        max-width: 400px;
        padding: 20px;

        @include media-breakpoint-down($breakpoint-sm) {
          padding: 20px 0;
        }

        >.__sub-title {
          text-align: center;
          padding-bottom: 20px;

          @include media-breakpoint-down($breakpoint-md) {
            padding-bottom: 0;
          }
        }
      }
    }

    >.__description {
      >.__html-text {
        >p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
