@import "../../styles/settings/index";
@import "../../styles/tools/index";

.homepage-component {
  
  p {
    margin: 0;
  }

  >.__description-md {
    display: none;

    @include media-breakpoint-down($breakpoint-sm) {
      display: block;
    }
  }

  >.__wrapper {
    position: relative;
    overflow: hidden;
    background: $ColorLinkWater;

    >.__image {
      margin-left: 25%;
    }
  
    >.__info {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
  
      >.__role {
        font-size: 20px;
  
        @include media-breakpoint-down($breakpoint-md) {
          display: none;
        }
      }
      >.__summary {
        font-size: 80px;
        font-weight: 700;
        padding: 10px 0 60px;
        line-height: 100%;
  
        @include media-breakpoint-down($breakpoint-lg) {
          font-size: 60px;
          padding-bottom: 30px;
        }
  
        @include media-breakpoint-down($breakpoint-md) {
          font-size: 40px;
          padding-bottom: 20px;
        }
  
        @include media-breakpoint-down($breakpoint-sm) {
          font-size: 35px;
        }
      }
      >.__description {
        max-width: 450px;
        margin-bottom: 50px;
  
        @include media-breakpoint-down($breakpoint-lg) {
          max-width: 400px;
          margin-bottom: 30px;
        }
  
        @include media-breakpoint-down($breakpoint-md) {
          max-width: 300px;
          margin-bottom: 30px;
        }
  
        @include media-breakpoint-down($breakpoint-sm) {
          display: none;
        }
      }
      >.__media {
        margin-left: -3px;
  
        >.__button {
          padding-left: 20px;
          padding-right: 20px;
          white-space: nowrap;

          @include media-breakpoint-down($breakpoint-sm) {
            padding: 6px 15px;
          }
  
          +.__button {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
